/*GENERAL:*/
/*font-family: 'Asul', sans-serif;
font-family: 'Chivo', sans-serif;*/

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
// VARIABLES:
$lavender: rgb(151, 145, 159);
$lilac: rgb(198, 177, 199);
$eggplant: rgb(101, 46, 103);
$white: rgb(245, 248, 250);
$active: rgb(191, 129, 157);
/*flexbox: 
column, have bulk div for .content so it grows and footer sticks*/
body {
	background-image: url("../images/paper/paper.png");
	display: flex;
	flex-direction: column;
	font-family: 'Chivo', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
}
h1, h2, h3 {
	font-family: 'Asul','Georgia', serif;
}
a {
	text-decoration: none;
}
p {
	margin: 1em 0.5em;
}
hr {
	border-color: $lilac;
	margin: 1em 0 1.5em 0;
}
// .content {
// 	width: 960px;
// 	margin: 0 auto;
// }
/*TOP:
*********************************************************
*********************************************************
HEADER: 
contains div of name and logo, nav with links
*********************************************************
*********************************************************
*/
header {
	background-color: $white;
	border-bottom: 1px solid $lavender;
}
.content-header {
	display: flex;
	flex-direction: column;
}
.brand {
	display:flex;
	flex-direction: column;
	justify-content: center;

}
.name {
	background-color: $eggplant;
	color: rgb(245, 248, 250);
	font-size: 2em;
	letter-spacing: 0.1em;
	padding: 0.75em;
	flex-grow:1;
	h1 {
		text-align: center;
	}

}

nav {
	ul{
		display: flex;
		justify-content: space-around;
		text-align: center;
		margin: 1em auto;
	}
}
#ihtlogo {
	box-sizing: content;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: $white;
	display: inline-block;
	padding-top: 0.1em;
	img {
		width: 80%;
		height: 80%;
	}
}
#navLinks li{ 
	flex-grow:1;
}
.inactive {
	color: $lilac;
}
.active {
	color: $active;
	font-weight: bold;
}
.inactive:hover {
	color: $eggplant;
	text-shadow: 0px 0px 1px rgb(227, 216, 227);
}


/*BULK BODY:
*********************************************************
*********************************************************
SECTION: 
contains two columns: main about and an aside
*********************************************************
*********************************************************
*/
#main {
	margin: 1em;
}
.aboutContent, aside {
		margin-top: 2em;
		box-shadow: inset 0px 0px 25px -2px $lavender;
}
.aboutContent {
	background-color: $white;
	padding: 1.5em;
}
.aboutContent h2 {
	color: $eggplant;
	font-size: 2em;
}
.aboutContent img {
	float: left;
	margin-right: 1em;
}
/*
***********
ASIDE
***********
*/
aside {
	background-color: $white;
	padding: 1.5em;
}
aside li {
	display: inline;
}

.iconRow {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.title h3 {
	color: $eggplant;
	font-size: 1.5em;

}
.title hr {
	border-width: 1px;
	text-align: center;
}
.icons {
	margin: 0.2em 0.1em;
	float: left;
}
#gitHub {
	color: rgb(0,0,0);
}
#dribbble {
	color: #ea4c89;
}
#linkedIn {
	color: rgb(0, 123, 181);
}
#twitter {
	color: rgb(0, 172, 237);
}
#wordPress {
	color: 	rgb(33, 117, 155);
}
#codePen {
	color: rgb(0,0,0);
}
/*Flexbox here:*/
.content {
	flex: 1 0 auto;
}
.clear {
	clear: both;
}
/*BOTTOM:
footer*/
footer {
	background-color: $lilac;
	color: #fff;
	padding: 0.6em;
	border-top: 4px solid $eggplant;
}
footer p {
	font-size: 0.75em;
	text-align: center;
}

/*
************************************************
************************************************
                  CONTACT PAGE
************************************************
************************************************
*/

label {
	color: $lavender;
	display: block;
	margin: 0.75em 0 0.25em 0;
}

input, textarea {
	width: 100%;
	font-size: 1em;
}

#subBtn {
	background-color: $eggplant;
	color: $white;
	font-size: 1em;
	margin-top: 0.75em;
  padding: 0.75em 1.5em;
  border-width: 0;
}
#subBtn:hover {
	background-color: $lilac;
	color: $eggplant;
}
/*
************************************************
************************************************
               PORTFOLIO PAGE
************************************************
************************************************
*/

.projectHolder {
	text-align: center;
}
.projectPic {
	display: inline-block;
	box-shadow: 2px 2px 15px 1px #ccc;
	position: relative;
	width: 15em;
	height: 12em;
	margin: 1em 0.7em;
  float: left;
	overflow: hidden;
}
.projectPic img {
	width: 100%;
}
.projectTitleBar0 {
	background-color: $eggplant;
	opacity: 0.8;
	padding: 1em;
	position:absolute;
	bottom: 5%;
	width: 100%;
	height: 3em;
	z-index: 0;
}
.projectTitleBar1 {
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	top: 73%;
	width: 100%;
	z-index: 1;
}

.projectTitleBar1 span {
	color: $white;
	opacity: 1;
	font-size: 0.9em;
}
.projectTitleBar1 span:hover {
	color: rgb(218, 185, 41);
}
